[Desktop Entry]
Encoding=UTF-8
Name=LUK
Comment=LUK P2P Cryptocurrency
Comment[fr]=LUK, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LUK, eşten eşe kriptografik sanal para birimi
Exec=luckycoin-qt %u
Terminal=false
Type=Application
Icon=luckycoin128
MimeType=x-scheme-handler/luckycoin;
Categories=Office;Finance;
